* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  animation: beginning 1s;
}

body {
  /*一个随机获取动漫图片的api↓*/
  /*background: url("https://api.mz-moe.cn/img.php");*/
  /*这个接口很严肃↓*/
  /*background: url("https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture");*/
  /*默认背景图片↓*/
  background: url("background_default.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

#container {
    width: 100%;
  height: 100%;
}

.indexArea {
  width: 100%;
  height: 100%;
}

.moveArea {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.moveAreaHidden {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.logo {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  font-family: "微软雅黑";
  font-weight: bold;
  font-size: 70px;
  color: rgba(252, 252, 252, 0.95);
  margin: 2%;
  letter-spacing: -5px;
  /*logo不可选*/
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*标题文字的阴影效果↓*/
  text-shadow: 5px 2px 6px #000;
}


.inputArea {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 27%;
  min-width: 450px;
  padding-top: 5%;
  background-color:  rgba(100, 100, 100, 0.5);
  /*background-color:  rgba(238, 238, 238, 0.3);*/
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
  border-radius: 15px 15px 0 0;
}

.inputArea input[type="text"], input[type="password"] {
  padding-left: 15px;
  padding-bottom: 5px;
  width: 80%;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  border-left: 6px solid rgb(255, 192, 159);
  border-bottom: 2px solid #FFF;
  outline: none;
  color: #FFF;
}

input::-webkit-input-placeholder{
  color: rgba(252, 252, 252, 0.8);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: rgba(252, 252, 252, 0.8);
}
input:-moz-placeholder{  /* Mozilla Firefox 4 to 18 */
  color: rgba(252, 252, 252, 0.8);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color: rgba(252, 252, 252, 0.8);
}

.send-button {
  height: 50px;
}

.send-button input[type="submit"] {
  width: 85%;
  padding: 10px 0;
  font-size: 20px;
  background-color: transparent;
  color: #FFF;
  border: 1.5px solid #FFF;
  background-color: rgb(255, 192, 159);
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  /*开场动画*/
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
  /*阴影*/
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}

.send-button input[type="submit"]:hover {
  animation: buttonHover 0.2s;
  animation-fill-mode: forwards;
}

.jumpArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.switchToReg {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.switchToReg:hover {
  animation: downArrowDown 0.25s;
  animation-fill-mode: forwards;
}

.switchToReg .text {
  color: rgb(246, 235, 235);
  font-size: 16px;
  font-weight: bold;
  /*“注册”二字不可选*/
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.downArrow {
  width: 40px;
  height: 40px;
}

.settingArea {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 6.6vh;
  width: 6.6vh;
  cursor: pointer;
}

.settingBtn {
  height: 6.6vh;
  width: 6.6vh;
}

.settingBtn:hover {
  animation: gearRotate 2s;
  animation-iteration-count: infinite;
  animation-timing-function:2s;
  -webkit-animation-timing-function:2s; /* Safari 和 Chrome */
}

.mainAreaMove-enter-active {
  animation: mainAreaIn 0.65s;
  animation-delay: 0.65s;
}

@keyframes mainAreaIn {
  from {
    margin-top: 100vh;
    /* background-color: red; */
  }
  to {
    margin-top: 0;
    /* background-color: yellow; */
  }
}

.indexAreaMove-leave-active {
  animation: indexAreaOut 0.65s;
}

@keyframes indexAreaOut {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 100vh;
  }
}

.loginAreaMove-enter-active {   /*登录上*/
  animation: loginAreaIn 0.65s;
  animation-delay: 0.65s;
}

.loginAreaMove-leave-active {
  animation: loginAreaOut 0.65s;  /*登录下*/
}

.registerAreaMove-enter-active {  /*注册上*/
  animation: registerAreaIn 0.65s;
  animation-delay: 0.65s;
}

.registerAreaMove-leave-active {  /*注册下*/
  animation: registerAreaOut 0.65s;
}




@keyframes gearRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes beginning {
  20% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes buttonHover {
  from {

  }
  to {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1.5px solid #FFFCE6;
    margin-top: 2px;
  }
}

@keyframes downArrowDown {
  from {
    
  }
  to {
    margin: 3px;
  }
}

/*登录上*/

@keyframes loginAreaIn {   
  from {
    margin-top: 100vh;
  }
  to {
    margin: 0;
  }
}


/*登录下*/

@keyframes loginAreaOut {  
  from {
    margin-top: 0;
  }
  to {
    margin-top: 100vh;
  }
}

 /*注册上*/

@keyframes registerAreaIn { 
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0;
  }
}

/*注册下*/

@keyframes registerAreaOut {  
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0;
  }
}

.mainArea {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0);
  display: flex;
  justify-content: center;
}

.mainAreaHidden {
  opacity: 0;
}

.talkArea {
  margin-top: 5%;
  height: 70%;
  width: 50%;
  background-color: rgba(245, 245, 245, .90);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* 加入一点阴影 */
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px;
}

.contentShowArea {
  width: 100%;
  height: 70%;
  background-color: transparent;
}

.titleArea {
  height: 15%;
  border-radius: 15px 15px 0 0;
  background-color: rgb(255, 192, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.messageShowArea {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.oneMessageMe {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15px;
 }
 
 .oneMessageOther {
   display: flex;
   flex-direction: row;
   margin-top: 15px;
 }

 .talkContentArea {
   max-width: 50%;
   height: 85%;
   background-color: skyblue;
   border-radius: 10px;
   padding: 10px;
   word-break: break-all;
 }

 .talkIcon {
   width: 50px;
   height: 50px;
   border-radius: 10px;
   margin: 0 10px 10px 10px;
 }

.contentInputArea {
  width: 100%;
  height: 20%;
}

.contentInputArea textarea {
  font-family:"Sans-serif";
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  /* 去掉右下角 */
  resize:none;  
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.talkArea .btnArea {
  width: 100%;
  height: 10%;
  border-radius: 0 0 15px 15px;
  display: flex;
  padding: 0 3% 0 3%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
}

.talkArea .btnArea input[type="button"] {
  height: 70%;
  width: 15%;
  background-color: rgb(255, 192, 159);
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid orange; */
  padding: 2vh;
}

.iconArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.profileInputArea {
  width: 100%;
  /* border: 2px solid greenyellow; */
}

.profitBtnArea {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.myScrollbarArea {
  /* border: 2px solid red; */
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 2vh;
}

.myScrollbar::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

.myScrollbar::-webkit-scrollbar-thumb {
  border-radius   : 10px;
  background-color: skyblue;
}

.myScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

.generalSettings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid orange; */
  padding: 2vh;
}

.generalSettingsaInputArea {
  width: 100%;
  /* border: 2px solid greenyellow; */
}

.settingAreaTitle {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.el-table th.is-leaf {
  background-color: rgb(81, 121, 188);
  color: #fff;
}

.el-table__body-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.el-table__body-wrapper::-webkit-scrollbar {
  width: 6px;
  background: #ebeef5;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: skyblue;
}

.el-table__body-wrapper::-webkit-scrollbar-track {
  box-shadow: insetr 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #fff;
}

.friendDrawerArea {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.el-table::-webkit-scrollbar{
  width: 2px;
}
.el-table::-webkit-scrollbar-thumb{
  border-radius: 2px;
  height: 50px;
  background: #eee;
}
.el-table::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: rgba(0,0,0,0.4);
}

.el-dialog__body {
  display: flex;
  justify-content: center;
}

.friendDetails {
  width: 80%;
  height: 100%;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;   
  white-space:pre;
  font-size: 20px;
}

.friendDetailsBlack {
  width: 80%;
  height: 100%;
  background-color: #FE4C40;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;   
  white-space:pre;
  font-size: 20px;
  color: white;
}

.detailsTextArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 20px 0;
}

.tagArea {
  display: flex;
  flex-wrap: wrap;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

.friendDrawerBtnArea {
  display: flex;
  justify-content:space-around;
}